# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto eol=lf  whitespace=tab-in-indent,trailing-space,tabwidth=2

*.cs diff=csharp
*.cake diff=csharp

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.csproj text eol=crlf
*.ps1 text eol=crlf
*.psd1 text eol=crlf
*.bat text eol=crlf

*.resx whitespace=-blank-at-eol
*.md whitespace=-trailing-space

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
